# Node
frontend/node_modules/
frontend/dist/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.env
venv/
env/
.venv/

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# System
.DS_Store
Thumbs.db

backend/scan_cache.json
